<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <p><strong>De vraag is nog niet volledig ingevuld!</strong></p>
  <ul>
    <li>U heeft de vraag nog niet ingevuld.</li>
  </ul>
</div>