<% title 'Nieuwe vraag' %>
<% description 'Voer de gegevens in' %>

<%= form_for @question do |f| %>
  <div class="row">
    <%= render 'block-message' %>
    <fieldset>
      <legend>Selecteer een type en voer een vraag en een antwoord in</legend>
      <div class="actions">
        <h4>Selecteer een type:</h4>
        <div class="clearfix">
            <label id="optionsRadio">Types</label>
            <div class="input type">
              <input type="hidden" name="question[user_id]" value="<%= current_user.id %>" />
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="radio" name="type" value="open">
                    <span>Open vraag</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="true_false">
                    <span>Waarheidsvraag</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="multiple_choice">
                    <span>Multiple-choice vraag</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="multiple_answers">
                    <span>Meerdere antwoorden vraag</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="type" value="statements">
                    <span>Stellingvraag</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit 'Vraag opslaan', :class => 'btn primary' %>
  </div>
<% end %>