// Baseline grid
$basefont: 13px;
$baseline: 18px;

// Custom colors
$hanBlue: #003366;
$hanLightBlue: #eff2f5;
$hanRed: #ff0033;
$whiteSmoke: #f5f5f5;
$lightBlue: #f2fefd;
$darkGradientBlue: #00264d;

// Overrides
.topbar-inner,
.topbar .fill {
  background-color: $hanBlue;
  @include background-image(linear-gradient(lighten($hanBlue, 5%), $hanBlue, darken($hanBlue, 5%)));
  @include single-box-shadow($hanBlue, 0, 0, 10px, false, false);
  input:focus, input.focused { background-color: $lightBlue; }
  .topbar div > ul, .nav {
    // .menu-dropdown for backwards compatibility
    li a {
      color: $lightBlue;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(0,0,0,.5);
      &:hover {
        color: $white;
      }
      &.active {
        background-color: $hanBlue;
        @include background-image(linear-gradient(lighten($hanBlue, 5%), $hanBlue, darken($hanBlue, 5%)));
      }
    }
    .menu-dropdown,
    .dropdown-menu {
      background-color: $darkGradientBlue;
      // a.menu for backwards compatibility
      a.menu,
      .dropdown-toggle {
        color: $white;
        &.open {
          background: #444;
          background: rgba(255,255,255,.05);
        }
      }
      li a {
        color: $lightBlue;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        &:hover {
          @include background-image(linear-gradient(lighten($darkGradientBlue, 5%), darken($darkGradientBlue, 5%)));
          color: $white;
        }
      }
      .active a {
        color: $white;
      }
      .divider {
        background-color: darken($darkGradientBlue, 50%);
        border-color: lighten($darkGradientBlue, 10%);
      }
    }
    &.secondary-nav {
      > li:last-of-type {
        > a, > ul {
          margin-right: -20px;
        }
      }
      li ul li a { font-weight: normal; }
    }
  }
}