<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <p><strong>Het tentamen is nog niet volledig ingevuld!</strong></p>
  <ul>
    <li>U heeft de course nog niet aangegeven.</li>
    <li>U heeft de titel nog niet ingevuld.</li>
    <li>U heeft de beschrijving nog niet ingevuld.</li>
    <li>U heeft vragen niet volledig ingevuld.</li>
  </ul>
</div>